@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  * {
    font-family: 'TheJamsil5Bold', sans-serif;
  }

  body {
    background: url('/static/img/backimage.jpg') no-repeat center bottom fixed;
    
    background-size: cover;       

    
    justify-content: center;
    align-items: center;  
  }

  .cont_top {
      width: 100%;
      height: 120px;
      background-color: rgba(220, 20, 60, 1);
      display: flex;
      justify-content: flex-start;
      padding: 20px;
  }

  .logo {
      color: white;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      line-height: 75px;
  }

  .cont_middle {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      margin: 0px auto;
      width: 90%;
      height: 100%;
  }

  .main_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 17px;
      background-color: rgba(240, 240, 240, 1);
  } 
  
  .main_top > p {
      margin-top: 15px;
      margin-left: 15px;
  }

  .main_middle {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 5px;
      background-color: transparent;
  }

  .main_middle>.d-flex {
      margin-top: 30px;
  }

  .main_middle>.d-flex>.card {
      margin-right: 20px;
  }

  .cont_bottom {             
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: 90%;
      max-width: 700px;     
  }  

  .txtar {
      margin-left: 100px;
      margin-right: 100px;
  }

  .btn_rv {
      background-color: black;
      color: white;
      margin-left: 100px;
      border-radius: 5%;
  }

  .mypost {
      width: 90%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
  }

  .mypost>button {
      margin-bottom: 15px;
  }

  .mybtns {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .mybtns > button {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }     

  .rv > button {
    margin-left: 7.5px;
    margin-right: 7.5px;
  } 
  
  .apple {
    cursor: pointer;
  }

  .heart-bt {
    cursor: pointer;
  }