<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>스파르타대학교
        <img src="">
    </title>
</head>

<body>
    <div class="header">
        <a href="/">
            <div class="logo">스파르타대학교</div>
        </a>
    </div>
    <div class="wrap">
        <div class="spartatext">
            <p>소개문구</p>
        </div>
        <div class="loginbox">
            <div class="wrap">
                <div class="box_text">수강신청</div>
                <br>
                <br>
                <div class="box_input">
                    <input type="text" , size="15px">
                    <br>
                    <input type="password" , size="15px">
                </div>
                <div class="btn">
                    <section class="button_box">
                        <button onclick="location.href=('/detail')">
                            로그인</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>