<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>스파르타대학교</title>
</head>

<body>
    <div class="sketch">
        <div class="header">
            <div class="logo">스파르타대학교</div>
        </div>
        <section class="bgimg">
            <div class="wrap">
                <div class="spartatext">
                    <p>소개문구</p>
                </div>
                <div class="line1"></div>
                <div class="loginbox">
                    <div class="box_text">수강신청</div>
                    <div class="box_input">
                        <input type="text" , size="15px">
                        <input type="password" , size="15px">
                    </div>
                    <div class="btn">
                        <section class="button_box">
                            <button><a href="/detail">바로가기</a></button>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>