<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/static/introduce_mdh.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <title>よろしくお願いします</title>

  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <a href="/"style="text-decoration-line: none">
  <div class="titles"><div class="logo">스파르타대학교</div></div></a>
  <div class="itduce">
    <div>일본어</div>
  </div>
  <div>
    <div class="profile">
      <img src="/static/img/MDH.png" width="100%">
    </div>
    <div class="comments">
      <p class="c_name">{{data.name}}</P>
      <pre class="c_c">
        태어나서 코드를 다뤄보길 2023년이 처음인 비전공 코딩학도 입니다
        일본에 관심이 있어 대학졸업 후 일본에서 1년간 생활을 하다 코로나시국으로 귀국해서 여기까지 왔습니다
        성미가 원체 가만히 있는 것을 좋아하는지라 집중해야하는 작업에 있어서 소질이 있다고 생각합니다
        우선순위를 두어 차근차근 해나가는 것을 지향합니다
        
          E-mail : ehd0831@naver.com
          Blog : <a href="https://mdhtora.tistory.com"style="text-decoration-line: none">https://mdhtora.tistory.com</a>/</pre>

    </div>
  </div>
  <div class="mypost" id="post-box">
    <div class="form-floating mb-3">
      <input id="name" type="text" class="form-control" placeholder="name@example.com">
      <label>닉네임</label>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">별점</label>
      <select class="form-select" id="star">
        <option selected>-- 선택하기 --</option>
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
      </select>
    </div>
    <div class="form-floating">
      <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
      <label for="floatingTextarea2">후기</label>
    </div>
    <div class="mybtns">
      <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
    </div>

    <div class="revs">
    </div>
</body>
<script>
  $(document).ready(function () {
    listing();
  });

  function listing() {
    let reviewlist = JSON.parse('{{ data1 | tojson}}');
    $('.revs').empty()
    for (let i = 0; i < reviewlist.length; i++) {
      let name = reviewlist[i]['userID']
      let comment = reviewlist[i]['Txt_review']
      let star = reviewlist[i]['StarPoint_review']
      let star_image = '⭐'.repeat(star)

      let temp_html = `<div class="cardz">
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p>${comment}</p>
                          <footer class="blockquote-footer">${name}</footer><td>${star_image}</td>
                        </blockquote>
                      </div>
                    </div>`
      $('.revs').append(temp_html)
    }
  }

  function posting() {
    let userID = $('#name').val()
    let StarPoint_review = $('#star').val()
    let Txt_review = $('#comment').val()
    let name = $('.c_name').html()

    let formData = new FormData();
    formData.append("userID_give", userID);
    formData.append("Txt_review_give", Txt_review);
    formData.append("StarPoint_review_give", StarPoint_review);
    formData.append("name_give", name);

    fetch('/saveReview', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
      alert(data["msg"]);
      window.location.reload(true)
    });
  }

  function open_box() {
    $('#post-box').show()
  }

</script>

</html>