<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/detail_1.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="cont_body">
        <section class="cont_top">
            <a href="./index_main.html">
                <div class="logo">스파르타대학교</div>
            </a>
        </section>
        <section class="cont_middle">
            <div class="main_top">
                <div class="cont_name">
                    <p>개설과목 조회/신청</p>
                </div>
            </div>
            <div class="main_middle">
                <ul class="cont_txt">
                    <li class="row1">
                        <p>no.</p>
                    </li>
                    <li class="row2">
                        <p>이름</p>
                    </li>
                    <li class="row3">
                        <p>좋아하는 언어</p>
                    </li>
                    <li class="row4">
                        <p>직급</p>
                    </li>
                    <li class="row5">
                        <p>tmi</p>
                    </li>
                    <li class="row6">
                        <p>한마디</p>
                    </li>
                </ul>
                <ul class="cont_main">
                    <li class="row1">
                        <p>1</p>
                    </li>
                    <li class="row2">
                        <p>김근혜</p>
                    </li>
                    <li class="row3">
                        <p>영어, 폴란드어</p>
                    </li>
                    <li class="row4">
                        <p>팀장</p>
                    </li>
                    <li class="row5">
                        <p>1</p>
                    </li>
                    <li class="row6">
                        <p>우리 팀이 최고야!</p>
                    </li>
                </ul>
                <ul class="cont_main">
                    <li class="row1">
                        <p>2</p>
                    </li>
                    <li class="row2">
                        <p>마동휘</p>
                    </li>
                    <li class="row3">
                        <p>일본어, 영어</p>
                    </li>
                    <li class="row4">
                        <p>팀원</p>
                    </li>
                    <li class="row5">
                        <p>2</p>
                    </li>
                    <li class="row6">
                        <p>우리 팀 화이팀b</p>
                    </li>
                </ul>
                <ul class="cont_main">
                    <li class="row1">
                        <p>3</p>
                    </li>
                    <li class="row2">
                        <p>이승민</p>
                    </li>
                    <li class="row3">
                        <p>영어, 일본어</p>
                    </li>
                    <li class="row4">
                        <p>팀원</p>
                    </li>
                    <li class="row5">
                        <p>3</p>
                    </li>
                    <li class="row6">
                        <p>열심히 따라가겠습니다</p>
                    </li>
                </ul>
                <ul class="cont_main">
                    <li class="row1">
                        <p>4</p>
                    </li>
                    <li class="row2">
                        <p>이주한</p>
                    </li>
                    <li class="row3">
                        <p>영어, 스페인어</p>
                    </li>
                    <li class="row4">
                        <p>팀원</p>
                    </li>
                    <li class="row5">
                        <p>스페인친구가 있습니다</p>
                    </li>
                    <li class="row6">
                        <p>화이팅~!!</p>
                    </li>
                </ul>
                <ul class="cont_main">
                    <li class="row1">
                        <p>5</p>
                    </li>
                    <li class="row2">
                        <p>홍서연</p>
                    </li>
                    <li class="row3">
                        <p>일본어, 중국어</p>
                    </li>
                    <li class="row4">
                        <p>팀원</p>
                    </li>
                    <li class="row5">
                        <p>5</p>
                    </li>
                    <li class="row6">
                        <p>우리팀짱멋쟁이^o^~!</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>

<script>
    $('.cont_main').mouseover(function(){
        $('.cont_main').css('cursor', 'pointer')
        $('.cont_main').click(function(){
            location.href = 'index_main.html';
        });
    });
</script>

</html>