<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Document</title>
</head>

<body>
    <div class="cont_body">
        <section class="cont_top">
            <div class="logo">스파르타대학교</div>
        </section>
        <section class="cont_middle">
            <div class="main_left">
                <p>강렬한 문구</p>
            </div>
            <div class="main_bar"></div>
            <div class="main_right">
                <div class="log_box">
                    <div class="log_box_top">수강신청</div>
                    <div class="log_box_middle">
                        <section class="input_box">
                            <input type="text">
                            <input type="password">
                        </section>
                        <section class="button_box">
                            <button>바로가기</button>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>