<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>스파르타대학교</title>
</head>

<body>
    <div class="sketch">
        <div class="header">
            <div class="logo">스파르타대학교</div>
        </div>
        <div class="wrap">
            <div class="spartatext">
                <p>안녕하세요.<br/>
                외국어라는 관심사로 모이게 된 5명의 조입니다.<br/>
                처음 제2외국어라는 팀명에서<br/>
                스파르타대학교로 바꾸게 되었습니다ㅎㅎ<br/>
                모르는 부분이나 오류 발생시<br/>
                함께 헤쳐나가는 단합이 잘 되는 팀입니다.<br/>
                각자의 개성이 묻어나는<br/>
                소개페이지 구경하러 가시죠~!<br/><br/><br/>



                
                <em style="color:  rgba(220, 20, 60, 1);">The career you want, we can make it.<br/><br/>
                    Let's become a global developer!</em>




                </p>
            </div>
            <div class="line1"></div>
            <div class="loginbox">
                <div class="box_text">수강신청</div>
                <div class="box_input">
                    <input type="text">
                    <input type="password">
                </div>
                <div class="btn">
                    <section class="button_box">
                        <button><a href="/detail">바로가기</a></button>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_img"></div>
</body>

</html>